// Shared
$jeopardy-blue: #060CE9;
$swish-dark-gray: #1B2226;
$swish-primary-text: rgba(255,255,255,0.87);
$swish-orange: rgba(255,162,115,1);
$swish-aqua: rgba(79,227,195,1);

.flex-divider { flex: 1; }

body { margin: 0; }

// Board
.games-board {

  // Only when a direct child of container
  .container > div.clue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    background-color: $jeopardy-blue;
    padding: 3rem;

    &.buzz {
      border: 2.5rem solid red;
    }

    &.active {
      border: 2.5rem solid green;
    }

    p.question-text {
      font-family: "Korinna Bold";
      font-size: 4rem;
      font-weight: 600;
      color: white;
      text-align: center;
      text-shadow: 3px 3px 2px #000;
    }
  }
  // ===================================

  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .waiting-for-players-container, .loading-container {
      flex: 1;
      display: flex;
      background-color: $jeopardy-blue;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .waiting-for-players-text, .loading-text {
        font-family: "Korinna Bold";
        font-size: 4.5rem;
        font-weight: 600;
        color: white;
        text-align: center;
        text-shadow: 4px 4px 3px #000; } }

    .connected-players {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 25%;
      height: 100%;
      background-color: $swish-dark-gray;
      border-right: 10px solid black;

      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid $swish-orange;

        &.control {
          background-color: darken($swish-aqua, 20%);
        }

        &.buzz {
          background-color: red;
        }

        .display {
          margin: 0 0 0 1rem;
          font-family: arial;
          font-size: 2.5rem;
          font-weight: 500;
          color: $swish-primary-text;
        }

        .score {
          margin: 0 1rem 0 1rem;
          font-family: "Swiss 911";
          font-size: 4rem;
          font-weight: 500;
          color: $swish-primary-text;
        }
      }
    }

    .game-board {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 100%;
      background-color: $jeopardy-blue;

      .column {
        width: 16.67%;
        height: 100%;
        border-right: 4px solid black;

        .row {
          height: 16.67%;
          border-bottom: 4px solid black;
          display: flex;

          div.category {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p.category-text {
              margin: 0;
              color: white;
              font-family: arial;
              font-size: 1.2rem;
              padding: 0.5rem;
              text-transform: uppercase;
              text-align: center;
              text-shadow: 3px 3px 2px #000;
            }

            p.category-comment {
              color: $swish-primary-text;
              font-size: 0.75rem;
              margin: 0px;
            }

          }

          div.clue {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.available {}

            p.point-value {
              font-family: "Swiss 911";
              font-size: 4rem;
              font-weight: 500;
              color: gold;
              text-shadow: 4px 4px 3px #000;
              letter-spacing: 0.1rem;
            }

          }
        }
      }
    }

    hr {
      width: 100%;
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 15%;
      height: 100%;
      background-color: $swish-dark-gray;
      border-left: 10px solid black;

      .action-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;

        &:nth-child(1) {
          background-color: coral;
        }

        &:nth-child(2) {
          background-color: darkorchid;
        }

        &:nth-child(3) {
          background-color: skyblue;
        }

        .action-button-text {
          font-size: 1.5rem;
          font-weight: bold;
          color: black;
          text-align: center;
        }
      }
    }

  }
}

// Admin
.games-admin {

  // Only when a direct child of container
  .container > div.clue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    background-color: $jeopardy-blue;
    padding: 3rem;

    &.buzz {
      border: 2.5rem solid red;
    }

    &.active {
      border: 2.5rem solid green;
    }

    p.question-text {
      font-family: "Korinna Bold";
      font-size: 4rem;
      font-weight: 600;
      color: white;
      text-align: center;
      text-shadow: 3px 3px 2px #000;
    }
  }
  // ===================================

  .container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .waiting-for-players-container, .loading-container {
      flex: 1;
      display: flex;
      background-color: $jeopardy-blue;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .waiting-for-players-text, .loading-text {
        font-family: "Korinna Bold";
        font-size: 4.5rem;
        font-weight: 600;
        color: white;
        text-align: center;
        text-shadow: 4px 4px 3px #000; } }

    .connected-players {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 15%;
      height: 100%;
      background-color: $swish-dark-gray;
      border-right: 10px solid black;

      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid $swish-orange;

        &.control {
          background-color: darken($swish-aqua, 20%);
        }

        &.buzz {
          background-color: red;
        }

        .display {
          margin: 0 0 0 1rem;
          font-family: arial;
          font-size: 2.5rem;
          font-weight: 500;
          color: $swish-primary-text;
        }

        .score {
          margin: 0 1rem 0 1rem;
          font-family: "Swiss 911";
          font-size: 4rem;
          font-weight: 500;
          color: $swish-primary-text;
        }
      }
    }

    .game-board {
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 100%;
      background-color: $jeopardy-blue;

      .column {
        width: 16.67%;
        height: 100%;
        border-right: 4px solid black;

        .row {
          height: 16.67%;
          border-bottom: 4px solid black;
          display: flex;

          div.category {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p.category-text {
              margin: 0;
              color: white;
              font-family: arial;
              font-size: 1.2rem;
              padding: 0.5rem;
              text-transform: uppercase;
              text-align: center;
              text-shadow: 3px 3px 2px #000;
            }

            p.category-comment {
              color: $swish-primary-text;
              font-size: 0.75rem;
              margin: 0px;
            }

          }

          div.clue {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.available {
              cursor: pointer;
            }

            p.point-value {
              font-family: "Swiss 911";
              font-size: 4rem;
              font-weight: 500;
              color: gold;
              text-shadow: 4px 4px 3px #000;
              letter-spacing: 0.1rem;
            }

          }
        }
      }
    }

    hr {
      width: 100%;
    }

    .action-buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 15%;
      height: 100%;
      background-color: $swish-dark-gray;
      border-left: 10px solid black;

      .action-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;

        &:nth-child(1) {
          background-color: coral;
        }

        &:nth-child(2) {
          background-color: darkorchid;
        }

        &:nth-child(3) {
          background-color: skyblue;
        }

        .action-button-text {
          font-size: 1.5rem;
          font-weight: bold;
          color: black;
          text-align: center;
        }
      }
    }

  }
}

// Player
.games-player {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: 100%;

    .join-game-button {
      cursor: pointer;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: $jeopardy-blue;

      p {
        font-size: 10rem;
        color: $swish-primary-text;
        font-weight: 600;
        text-shadow: 4px 4px 3px #000;
      }
    }

    .username {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $jeopardy-blue;

      p.username-text {
        font-size: 8rem;
        color: $swish-primary-text;
        font-weight: 600;
        text-shadow: 4px 4px 3px #000;
      }
    }

    .buzzer {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .buzzes {
        margin-top: 1rem;
      }

      p.buzz {
        font-size: 5rem;
        color: $swish-primary-text;
        font-weight: 600;
      }

      &.inactive {
        background-color: #999;
      }

      &.buzz {
        background-color: red;
      }

      &.active {
        cursor: pointer;
        background-color: green;
      }
    }
  }

}
